apiVersion: apps/v1
kind: Deployment
metadata:
  name: patient-service
spec:
  replicas: 3  # Multiple replicas for prod
  template:
    spec:
      containers:
        - name: patient-service
          resources:
            requests:
              memory: "1Gi"
              cpu: "1000m"
            limits:
              memory: "2Gi"
              cpu: "2000m"
