apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: medinsights
  labels:
    app: patient-service
spec:
  type: ClusterIP  # Internal service, exposed via Kong Gateway
  selector:
    app: patient-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  sessionAffinity: None
